<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
  <ul class="list">
      <li>
        <span>Title </span>
        <span>Text </span>
        <span>Id </span>
      </li>
  </ul>

    <%= react_component('ShowPost',
                        @presenter.to_json,
                        source: '/posts',
                        id: 'post',
                        )
    %>

<br>

