<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Id</th>
      </tr>
    </thead>

    <%= react_component('ShowPost',
                        @presenter.to_json,
                        prerender: true,
                        id: 'post',
                        data: { reactive: posts_path })
    %>
    
  </table>
</div>

<br>

